<h1 class="mt-2">{{isInEditMode ? 'Update Product' : 'Add Product'}}</h1>

<div class="card">
    <div class="card-body">
        <form [formGroup]="prodForm" (ngSubmit)="onFormSubmit()">
            <div class="form-group">
                <label for="pName">Product Name</label>
                <input type="text" class="form-control" id="pName" required formControlName="pName">
            </div>
            <div class="form-group">
                <label for="pStatus">Product Status</label>
                <select name="pStatus" id="pStatus" class="form-control" formControlName="pStatus">
                    <option value="In-progress">In-Progress</option>
                    <option value="Dispatched">Dispatched</option>
                    <option value="Delivered">Delivered</option>
                </select>
            </div>
            <div class="form-group">
                <label for="pDetails">Product Details</label>
                <textarea name="pDetails" id="pDetails" class="form-control" formControlName="pDetails"></textarea>
            </div>
            <button class="btn btn-outline-warning">{{isInEditMode ? 'Update Product' : 'Add Product'}}</button>
        </form>
    </div>
</div>